<a href="https://colab.research.google.com/github/kondasreenu/Python_Fundamentals/blob/main/P_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#for Loops and the range() Function**

The while loop keeps looping while its condition is True, but what if you want to execute a block of code only a certain number of times?

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iteratable objects. Iterating over a sequence is called traversal.

Here, val is the variable that takes the value of the item inside the sequence on each iteration.

Loop continues until we reach the last item in the sequence. The body of for loop is separated from the rest of the code using indentation.


for val in sequence:

    loop body


for loop is a much more crisper or cleaner way of writing doing the same while loop is doing.

In [3]:
# List of numbers
numbers = [2, 4, 6, 8, 10]
# variable to store the sum
sum = 0
# iterating over the list
for val in numbers:
  sum += val
print("The sum is", sum)

The sum is 30

**#range() Function**

•	use the range() function in for loops to iterate through a sequence of numbers. 

•	It can be combined with the len() function to iterate through a sequence using indexing.

In [5]:
range(10) # doen't produce a list
print(range(10)) 

print(list(range(10))) # from 0 to 9

print(list(range(2, 8))) # from 2 to 7

print(list(range(2, 20, 3))) # from 2 to 19, step 3

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [6]:
for i in range(10): #0,1,2,...,9, doen't produce a list, it just iterates a list
  print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
#Print range of numbers from 1 to 50 step size 2
for i in range(1,50,2): #1,3,5,...49
  print(i)


  '''
  for(i=1;i<=50;i+=2)
  {
    
  }

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [8]:
#Print names of cities in a list, using range iterate over a list 
city = ["Hyderabad", "Secunderabad", "Warangal", "Pune", "Delhi"]
for index in range(len(city)):
  print(city[index])

Hyderabad
Secunderabad
Warangal
Pune
Delhi

In [9]:
#Print names of cities in a list another approach, best way
city = ["Hyderabad", "Secunderabad", "Warangal", "Pune", "Delhi"]
for ele in city:
  print(ele)

Hyderabad
Secunderabad
Warangal
Pune
Delhi

**#for loop with else**

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

The break keyword can be used to stop a for loop. In such cases, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

In [10]:
digits = [0, 1, 5]
for i in digits:
  print(i)
else:
  print("No items left.")

0
1
5
No items left.

In [11]:
digits = [0, 1, 5]
for i in digits:
  if(i==5):
    break
  print(i)
else:
  print("No items left.")

0
1