<a href="https://colab.research.google.com/github/kondasreenu/Python_Fundamentals/blob/main/P_input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Input and Output

# Python Output

Use the print() function to output data to the standard output device

In [ ]:
print("Hello World")

Hello World

In [1]:
a = 10
print("The value of a is", a) #python 3 using ,
print("The value of a is " + str(a))

The value of a is 10
The value of a is 10

# Output Formatting

In [2]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

The value of a is 10 and b is 20

In [3]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

The value of b is 20 and a is 10

In [7]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(b, a)) #specify position of arguments

The value of b is 10 and a is 20

In [8]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="Srinu", greeting="Good Morning"))

Hello Srinu, Good Morning

In [9]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',
                                                       other='Georg'))

The story of Bill, Manfred, and Georg

In [10]:
a = 10; b = 20  #multiple statements in single line

print(f"The value of b is {b} and a is {a}") #using f Latest Python feature

The value of b is 20 and a is 10

In [11]:
a = 10; b = 20  #multiple statements in single line

print(f"The value of b is {b} and \n a is {a}") #using escape sequence character

The value of b is 20 and
 a is 10

In [14]:
a = 10; b = 20  #multiple statements in single line

print(rf"The value of b is {b} and \n a is {a}") #using r it will treat all characters as normal escape sequence will not work
#observe the output \n is printed normally

The value of b is 20 and \n a is 10

# Python Input

To take the input from the user. 

In Python, use the input() function

In [15]:
num = input("Enter a number: ")
print(num)

Enter a number: 15
15

In [16]:
num = input("Enter a number: ")
print(num)
type(num)#observe the output type of num is str not int, by default input takes string as input, apply conversion fucntion

Enter a number: 20
20

str

In [17]:
num = int(input("Enter a number: "))
print(num)
type(num)#observe the output type of num is int

Enter a number: 15
15

int