<a href="https://colab.research.google.com/github/kondasreenu/Python_Fundamentals/blob/main/P_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#Lists**

**Data Structure:**
A Data Structure is a collection of data elements that is structured in someway.

The most basic structure in Python is **"Sequence"**

List is one of the Sequence Data Structure

A list is a value that contains multiple values in an ordered sequence.

List begins with an opening square bracket and ends with a closing square bracket, [].

Values inside the list are also called items. Items are separated with commas (that is, they are comma-delimited).


Each item in the list has an assigned a index value.

**Mutable and Immutable Data Types**

A list value is a mutable data type: it can have values added, removed, or changed. However, a string is immutable: it cannot be changed. Trying to reassign a single character in a string results in a TypeError error

**List Creation**

In [1]:
emptylst = []
print(emptylst) #empty llist

lst = ['one', 'two', 'three', 'four'] # list of strings ' ' or " "
print(lst)

lst2 = [1, 2, 3, 4] #list of integers
print(lst2)
lst3 = [[1, 2], [3, 4]] # list of lists
print(lst3)
lst4 = [1, 'rama', True, 1.24] # list of different datatypes
print(lst4)

[]
['one', 'two', 'three', 'four']
[1, 2, 3, 4]
[[1, 2], [3, 4]]
[1, 'rama', True, 1.24]

**List Length** : 
len()

In [2]:
lst4 = [1, 'rama', True, 1.24]

print("Lenth",len(lst4))

lst3 = [[1, 2], [3, 4]] # list of lists
print("Lenth",len(lst3))

Lenth 4
Lenth 2

**List Append and insert** : 
append() 

The append() and insert() methods are list methods and can be called only on list values, not on other values such as strings or integers.

To add new values to a list, use the append() and insert() methods.

append() --adds the argument to the end of the list.

The insert() method can insert a value at any index in the list.

The first argument to insert() is the index for the new value, and the second argument is the new value to be inserted.

In [3]:
lst = ['one', 'two', 'three', 'four']

lst.append('five') # append will add the item at the end

print(lst)

['one', 'two', 'three', 'four', 'five']

**List Insert**

#syntax: listname.insert(location, element) 

Element will be added at location

In [4]:
lst = ['one', 'two', 'four']

lst.insert(2, "three") # will add element y at location x

print(lst)

['one', 'two', 'three', 'four']

In [11]:
lst = ['one', 'two', 'four']

lst.insert(2, "twotwo") # will add element y at location x

print(lst)

['one', 'two', 'twotwo', 'four']

In [12]:
lst = ['one', 'two', 'four']

lst.insert(-1, "end") # will add element y at location x

print(lst)

['one', 'two', 'end', 'four']

In [13]:
lst = ['one', 'two', 'four']

lst.insert(:, "end") # will add element y at location x

print(lst)

SyntaxError: ignored

In [14]:
lst = ['one', 'two', 'four']

lst.insert(3, "end") # will add element y at location x

print(lst)

['one', 'two', 'four', 'end']

In [15]:
lst = ['one', 'two', 'four']

lst.insert(4, "end") # if location is >= len, item will be added at the end

print(lst)

['one', 'two', 'four', 'end']

In [16]:
lst = ['one', 'two', 'four']

lst.insert(10, "end") # if location is >= len, item will be added at the end

print(lst)

['one', 'two', 'four', 'end']

In [21]:
lst = ['one', 'two', 'four']

lst.insert(-3, "end") # if location is <= -len, item will be added at the begining

print(lst)

['end', 'one', 'two', 'four']

**List Remove**

#syntax: lst.remove(x) 

The remove() method is passed the value to be removed from the list it is called on.

If the value appears multiple times in the list, only the first instance of the value will be removed.

In [24]:
s = ['cat', 'chicken', 'dog', 'bat']

s.remove('bat')

print(s)

['cat', 'chicken', 'dog']

In [28]:
lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two') #it will remove first occurence of 'two' in a given list

print(lst)

['one', 'three', 'four', 'two']

**List Append & Extend**

In [26]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append 
lst.append(lst2) #Sublist is appended at the end

print(lst)
print(len(lst))

['one', 'two', 'three', 'four', ['five', 'six']]
5

In [27]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#extend 
lst.extend(lst2) #items are appended at the end

print(lst)
print(len(lst))

['one', 'two', 'three', 'four', 'five', 'six']
6

**del**

The del statement will delete values at an index in a list.

All of the values in the list after the deleted value will be moved up one index.

In [29]:
#del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

#or we can use pop() method
a = lst.pop(1)
print(a)

print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

**del vs remove**

The del statement is good to use when you know the index of the value you want to remove from the list. 

The remove() method is useful when you know the value you want to remove from the list. [First Occurence only]

**List related keywords in Python**

The in and not in Operators

Determine whether a value is or isn’t in a list with the in and not in operators.

In [31]:
#keyword 'in' is used to test if an item is in a list
lst = ['one', 'two', 'three', 'four']

if 'two' in lst:
  print('Data')

#keyword 'not' can combined with 'in'
if 'six' not in lst:
  print('Science')

Data
Science

**List Reverse**

In [32]:
#reverse is reverses the entire list

lst = ['one', 'two', 'three', 'four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

**List Sorting**

**sorted()**

The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.


**sort()**

**sort the list and stored in itself**

Three important things for sort()

1.	The sort() method sorts the list in place; don’t try to capture the return value by writing code like s = s.sort(). 

2.	cannot sort lists that have both number values and string values in them, since Python doesn’t know how to compare these values.

3.	sort() uses “ASCIIbetical order” rather than actual alphabetical order for sorting strings. This means uppercase letters come before lowercase letters. Therefore, the lowercase a is sorted so that it comes after the uppercase Z.

In [43]:
#create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)


print("Sorted list :", sorted_lst)

#original list remain unchanged
print("Original list: ", numbers)


#print a list in reverse sorted order
print("Reverse sorted list :", sorted(numbers, reverse=True))

#orginal list remain unchanged
print("Original list :",  numbers)

Sorted list : [1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8]
Reverse sorted list : [8, 6, 3, 2, 1]
Original list : [3, 1, 6, 2, 8]

In [47]:
lst = [1, 20, 5, 5, 4.2]

#sort the list and stored in itself
lst.sort()

print("Sorted list: ", lst)

# add element 'a' to the list to show an error

lst.append('a')
print(lst)

#sort the list after append stored in itself
lst.sort()

print("Sorted list: ", lst)

Sorted list:  [1, 4.2, 5, 5, 20]
[1, 4.2, 5, 5, 20, 'a']

TypeError: ignored

In [41]:
lst = ['one', 'two', 'three', 'four','five', 'six', 'seven', 'eight', 'nine']

lst.reverse()

print(lst)


lst.sort(reverse = False) #alphabetical order from a-z
print(lst)

lst.sort(reverse = True) #Reverse of alphabetical order from z-a
print(lst)


lst = ['a', 'A', 'b', 'B','c', 'C']

lst.reverse()

print(lst)


lst.sort(reverse = False) #alphabetical order from a-z, capitals first
print(lst)

lst.sort(reverse = True) #Reverse of alphabetical order from z-a, lowercase
print(lst)



lst.sort()
print(lst) # Same as lst.sort(reverse = False)

['nine', 'eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']
['eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two']
['two', 'three', 'six', 'seven', 'one', 'nine', 'four', 'five', 'eight']
['C', 'c', 'B', 'b', 'A', 'a']
['A', 'B', 'C', 'a', 'b', 'c']
['c', 'b', 'a', 'C', 'B', 'A']
['A', 'B', 'C', 'a', 'b', 'c']

In [52]:
#To sort the values in regular alphabetical order, pass str.lower for the key keyword argument in the sort() method call.
s = ['a', 'z', 'A', 'Z']
s.sort(key=str.lower)
print(s)


lst = ['a', 'A', 'b', 'B','c', 'C']
lst.sort(key=str.lower)
print(lst)

['a', 'A', 'z', 'Z']
['a', 'A', 'b', 'B', 'c', 'C']
['a', 'A', 'b', 'B', 'c', 'C']

In [54]:
#List Having Multiple References

lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list, observer update in list
print("Original list: ", lst)


abc.remove(3)
#print original list, observer update in list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]
Original list:  [1, 2, 4, 5, 6]

In [56]:
#String Split to create a list

#let's take a string

s = "one,two,three,four,five"
slst = s.split(',') # , delimitter, default is whitespace
print(slst)


s = "This is a platform to learn Python course"
split_lst = s.split() # default split is white-character: space or tab
print(split_lst)

['one', 'two', 'three', 'four', 'five']
['This', 'is', 'a', 'platform', 'to', 'learn', 'Python', 'course']

In [57]:
#List Indexing
"""
Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.
"""

lst = [1, 2, 3, 4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-2])

2
3

**List Slicing**

Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that is not in the selected slice.

Getting a List from Another List with Slices

A slice evaluates to a new list value.

list1[2] is a list with an index (one integer).

list1[1:4] is a list with a slice (two integers).

A slice is typed between square brackets, like an index, but it has two integers separated by a colon. 

In a slice, the first integer is the index where the slice starts. 

The second integer is the index where the slice ends. 

A slice goes up to, but will not include, the value at the second index.

**Notice the difference between indexes and slices.**


list1 = [1,2,3,4,5]

print(list1[1:4])  # [2,3,4] slicing

print(list1[1:-2])  # [2,3] slicing

print(list1[-1]) #5  indexing

print(list1[:-1]) #[1, 2, 3, 4]

print(list1[:]) #[1, 2, 3, 4, 5]

print(list1[0:-1]) # [1, 2, 3, 4]


l2 = [[1,2],[3,4],[5,6]]

print(l2[1:2])

[[3, 4]]

print(l2[-1])

[5, 6]

print(l2[:-1])

[[1, 2], [3, 4]]

In [58]:
numbers = [10, 20, 30, 40, 50,60,70,80]

#print all numbers
print(numbers[:]) 

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [61]:
numbers = [10, 20, 30, 40, 50,60,70,80]
print (numbers)
#print alternate elements in a list
print(numbers[::2]) #step 2

#print elemnts start from 0 through rest of the list
print(numbers[0::]) 
#print elemnts start from index 2 with a step 2
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[10, 20, 30, 40, 50, 60, 70, 80]
[30, 50, 70]

List extend using "+"

lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#extend 
lst.extend(lst2) #items are appended at the end

print(lst)
#['one', 'two', 'three', 'four','five', 'six']

print(len(lst))
#6

**List Concatenation and List Replication**

Lists can be concatenated and replicated just like strings. 

The + operator combines two lists to create a new list value. 

The * operator can be used with a list and an integer value to replicate the list.

In [18]:
list1 = [1,2,3,4,5]
list2 = list1 * 2 # Replication
print(list1)
print("len of list1 ",len(list1))
print(list2)
print("len of list2 ",len(list2))


#list1 = [1,2,3,4,5]
#list2 = list1 * 0.5 # Replication
#print(list1)
#print("len of list1 ",len(list1))
#print(list2)
#print("len of list2 ",len(list2))

[1, 2, 3, 4, 5]
len of list1  5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
len of list2  10

In [14]:
list1 = [1,2,3,4,5]
list2 = list1 * 4  # Replication
print(list1)
print("len of list1 ",len(list1))
print(list2)
print("len of list2 ",len(list2))

[1, 2, 3, 4, 5]
len of list1  5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
len of list2  20

In [16]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
print(list1)
print("len of list1 ",len(list1))
print(list2)
print("len of list2 ",len(list2))
list3 = list1 + list2 # concatenation
print(list3)
print("len of list3 ",len(list3))

[1, 2, 3, 4, 5]
len of list1  5
[6, 7, 8, 9, 10]
len of list2  5
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
len of list3  10

In [62]:
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'varma', 'naveen', 'murali', 'brahma']

**List Count**

To find the frequncy of occurence of an item

In [64]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5, 1, 2, 3, 1, 1, 1, 1]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

7
3


The **multiple assignment trick** (technically called **tuple unpacking**) is a shortcut that lets you assign multiple variables with the values in a list in one line of code.

The number of variables and the length of the list must be exactly equal, or Python will give you a ValueError:

In [21]:
cat = ['fat', 'gray', 'loud']
size = cat[0]
color = cat[1]
disposition = cat[2]

print(size, color, disposition)

size, color, disposition = cat #single line assignment
print(size, color, disposition)

fat gray loud
fat gray loud

**List Looping**

Best appraoch using for loop

In [65]:
#loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

Using the **enumerate()** Function with Lists

On each iteration of the loop, enumerate() will return two values: the index of the item in the list, and the item in the list itself.

The enumerate() function is useful if you need both the item and the item’s index in the loop’s block.

In [22]:
#without enumeration
supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for i in range(len(supplies)):
  print('Index ' + str(i) + ' in supplies is: ' + supplies[i])

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: flamethrowers
Index 3 in supplies is: binders

In [23]:
#with enumeration
for index, item in enumerate(supplies):
  print('Index ' + str(index) + ' in supplies is: ' + item)

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: flamethrowers
Index 3 in supplies is: binders

Using the **random.choice()** and **random.shuffle()** Functions with Lists

The random.choice() function will return a randomly selected item from the list.


The random.shuffle() function will reorder the items in a list. This function modifies the list in place, rather than returning a new list.

In [32]:
import random
lst1 = [1,2,3,4,5,6,7,8,9,10]
print(random.choice(lst1)) #random.choice() 
print(random.choice(lst1)) #random.choice() 
print(random.choice(lst1)) #random.choice()

6
4
7

In [38]:
import random
lst1 = [1,2,3,4,5,6,7,8,9,10]
print("Before Shuffle",lst1)
random.shuffle(lst1) # random.shuffle()  
print("After Shuffle",lst1)

Before Shuffle [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After Shuffle [5, 4, 8, 3, 2, 1, 7, 9, 10, 6]

**List Comprehensions**


List comprehensions provide a **concise way to create lists.**

**Common applications** are **to make new lists where each element is the result of some operations** applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [67]:
# without list comprehension
squares = []
for i in range(10):
  squares.append(i**2)   #list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print("Double",new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print("Only Positive",new_lst)

#filter the list to exclude positive numbers
new_lst = [i for i in lst if i <= 0]
print("Only Negative",new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print("Pair(value, square)\n",new_lst)

Double [-20, -40, 20, 40, 100]
Only Positive [10, 20, 50]
Only Negative [-10, -20]
Pair(value, square)
 [(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

**Nested List Comprehensions**

In [10]:
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]


#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
  lst = []
  for row in matrix:
    lst.append(row[i])
  transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [76]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [78]:
matrix = [

 [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]]
 

transposed = []

for i in range(4):

	print("we are going to take the ",i,"th element of each row")

	lst = []

	for row in matrix:

		print("the row we are considering :", row, "and we are going to add", row[i],"to a temporary list")

		lst.append(row[i])

	print("the ",i,"th column elements = ", i ,"th elements in every row are =", lst)

	transposed.append(lst)

	print("="*50)

print(transposed)

we are going to take the  0 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 1 to a temporary list
the row we are considering : [5, 6, 7, 8] and we are going to add 5 to a temporary list
the row we are considering : [9, 10, 11, 12] and we are going to add 9 to a temporary list
the  0 th column elements =  0 th elements in every row are = [1, 5, 9]
==================================================
we are going to take the  1 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 2 to a temporary list
the row we are considering : [5, 6, 7, 8] and we are going to add 6 to a temporary list
the row we are considering : [9, 10, 11, 12] and we are going to add 10 to a temporary list
the  1 th column elements =  1 th elements in every row are = [2, 6, 10]
==================================================
we are going to take the  2 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 3 to a temporary list
the row we are considering : [5, 6, 7, 8] and we are going to add 7 to a temporary list
the row we are considering : [9, 10, 11, 12] and we are going to add 11 to a temporary list
the  2 th column elements =  2 th elements in every row are = [3, 7, 11]
==================================================
we are going to take the  3 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 4 to a temporary list
the row we are considering : [5, 6, 7, 8] and we are going to add 8 to a temporary list
the row we are considering : [9, 10, 11, 12] and we are going to add 12 to a temporary list
the  3 th column elements =  3 th elements in every row are = [4, 8, 12]
==================================================
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]