<a href="https://colab.research.google.com/github/kondasreenu/Python_Fundamentals/blob/main/P_loopingTechniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Looping Techniques

**Dictionaries:** Retrieving the key and corresponding value using items()

In [3]:
statecapitals = {'Telangana': 'Hyderabad', 'Andhrapradesh': 'Amaravathi'}
for s, c in statecapitals.items():
  print(s," ---", c)

Telangana  --- Hyderabad
Andhrapradesh  --- Amaravathi

#enumerate() function
**sequence:** When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.

In [4]:
for i, v in enumerate(['tic', 'tac', 'toe']):
  print(i, v)

0 tic
1 tac
2 toe

#**zip() function**
To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [5]:
questions = ['name', 'age', 'favorite color']

answers = ['ABC', 35, 'blue']

for q, a in zip(questions, answers):
  print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is ABC.
What is your age?  It is 35.
What is your favorite color?  It is blue.

#**reversed() function**

To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.

In [6]:
for i in reversed(range(1, 20, 3)):
  print(i)

19
16
13
10
7
4
1

#**sorted() function**

To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.

In [7]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for i in sorted(basket):
  print(i)

apple
apple
banana
orange
orange
pear

In [9]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for i in sorted(set(basket)): #Using set() on a sequence eliminates duplicate elements.
  print(i)

apple
banana
orange
pear

In [14]:
#finding the second largest element in the list
n = int(input())
arr = []
for i in range(n):
  arr.append(int(input()))
print(arr)


s = sorted(set(arr))
print(s)

print(s[-2])

5
2
3
6
6
5
[2, 3, 6, 6, 5]
[2, 3, 5, 6]
5