<a href="https://colab.research.google.com/github/kondasreenu/Python_Fundamentals/blob/main/P_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples**

The tuple data type is almost identical to the list data type, except in two ways. 

First, tuples are **typed with parentheses, ( and )**, instead of square brackets [ and ].

Second, **tuples** are different from lists is that tuples, like strings, are **immutable**, tuples cannot have their values modified, appended, or removed.

# Tuple creation

In [16]:
#empty tuple
t1 = ()
print(t1)

#tuple integers
t1 = (1, 2, 3)
print(t1)

#tuple with mixed datatypes
t1 = (10, 'abcd', 28, True)
print(t1)

#nested tuple : tuple in another tuple
t1 = (1, (2, 3, 4))
print(t1)

#nested tuple : tuple in another tuple, list in tuple
t1 = (1, (2, 3, 4), [1, True, 28, 'ab'])
print(t1)

()
(1, 2, 3)
(10, 'abcd', 28, True)
(1, (2, 3, 4))
(1, (2, 3, 4), [1, True, 28, 'ab'])

In [4]:
#Common mistake while creating tuples with single value
#only parenthesis is not enough
t1 = (1)
print(type(t1))

#Correct method
t1 = (1,) # comma at the end
print(type(t1))

<class 'int'>
<class 'tuple'>

In [5]:
#parenthesis is optional
t1 = 1, 
print(type(t1))

<class 'tuple'>

**Accessing Elements in Tuple**

Will use index operator [ ]

In [11]:
t = ('CSE', 'ME', 'ECE', 'EEE', 'CIVIL')

print(t[1]) # Element at index 1

#negative index
print(t[-1]) #print last element in a tuple

#print elements from starting to 2nd last elements
print(t[:-2])

print(t[:]) # using slicing

ME
CIVIL
('CSE', 'ME', 'ECE')
('CSE', 'ME', 'ECE', 'EEE', 'CIVIL')

In [10]:
#nested tuple
t = ('CSE', ('AIML', 'DataSciene', 'IOT', 'Cyber Security'))

print(t[1])

print(t[1][3]) # nested tuple, 3rd element Cyber Security

('AIML', 'DataSciene', 'IOT', 'Cyber Security')
Cyber Security

**Changing a Tuple**

unlike lists, tuples are immutable

This means that elements of a tuple cannot be changed once it has been assigned. 

But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [13]:
#creating tuple
t1 = (1, 2, 3, 4, [5, 6, 7])

t1[2] = 100 #will get TypeError

TypeError: ignored

In [22]:
t1 = (1, 2, 3, 4, [15, 16, 17])
#tuple is immutable
#here list is part of tuple
# try to update the list in tuple
t1[4][0] = 'ABC'
print(t1)

(1, 2, 3, 4, ['ABC', 16, 17])

In [23]:
#concatinating tuples

t1 = (11, 12, 13) + (14, 15, 16)
print(t1)

(11, 12, 13, 14, 15, 16)

In [25]:
#repeat the elements in a tuple for a given number of times using the * operator.
t1 = (('abc', ) * 4)
print(t1)

('abc', 'abc', 'abc', 'abc')

# Tuple Deletion

In [17]:
# Tuples are immutable, cannot change the elements in a tuple. 
# which means, cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

# Tuple Count

In [26]:
t1 = (1, 2, 3, 1, 3, 3, 4, 1,1,1,2,1,1,1,2,3,1)

#get the frequency of particular element appears in a tuple
t1.count(1)

9

# Tuple Index

In [29]:
t1 = (11, 12, 13, 11, 13, 13, 14, 11)

print(t1.index(13)) #return index of the first element is equal to 13

#print index of the 11
print(t1.index(11)) #return index of the first element is equal to 11

2
0

# Tuple Memebership

In [32]:
#test if an item exists in a tuple or not, using the keyword in.
t1 = range(20)

print(11 in t1)

True

In [34]:
print(7 in t1)

print(37 in t1)

True
False

# Built in Functions

# Tuple Length

In [35]:
t1 = (11, 12, 13, 14, 15, 16,17,18,19)
print(len(t1))

9

# Tuple Sort

In [38]:
t1 = (4, 5, 1, 2, 3)

new_t1 = sorted(t1)
print(new_t1) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [40]:
#get the largest element in a tuple
t1 = (2, 5, 1, 6, 9)

print(max(t1))

9

In [41]:
#get the smallest element in a tuple
print(min(t1))

1

In [42]:
#get sum of elments in the tuple
print(sum(t1))

23