<a href="https://colab.research.google.com/github/kondasreenu/Python_Fundamentals/blob/main/P_Variables_and_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

A variable is initialized (or created) the first time a value is stored in it. 

When a variable is assigned a new value, the old value is forgotten, this is called **overwriting** the variable.

**Variable Names**

A good variable name describes the data it contains. They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

**Python does have some naming restrictions.**

•	It can be only one word with no spaces.

•	It can use only letters, numbers, and the underscore (_) character.

•	It can’t begin with a number.

•	Variable names are case-sensitive

•	Variable name starting with an underscore (_) are considered as "unuseful".

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

# Variable Assignments

In [1]:
#We use the assignment operator (=) to assign values to a variable

a = 10
b = 5.5
c = "DS"

# Multiple Assignments

In [2]:
a, b, c = 10, 5.5, "DS"

In [3]:
a = b = c = "AI" #assign the same value to multiple variables at once

# Storage Locations

Use id() to get the address of a variable

In [5]:
x = 3

print(id(x))               #print address of variable x

94586577119808

In [6]:
y = 3

print(id(y))               #print address of variable y

94586577119808

**Observation**:

**x and y points to same memory location**

In [7]:
y = 2 # change in value 
print(id(y))               #print address of variable y

94586577119776

# Data Types

Every value in Python has a datatype. 

Since everything is ** an object** in Python programming, **data types are actually classes and variables are instance (object) of these classes.**

# Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

Use the **type()** function to know which class a variable or a value belongs to and the **isinstance()** function to check if an object belongs to a particular class.

In [8]:
a = 15                               #data type is implicitly set to integer
print(a, " is of type", type(a))

15  is of type <class 'int'>

In [9]:
a = 12.5                            #data type is changed to float
print(a, " is of type", type(a))

12.5  is of type <class 'float'>

In [10]:
a = 11 + 12j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))

(11+12j)  is complex number?
True

# Boolean

 Boolean represents the truth values **False** and **True**

 Type is bool

 F in False and T in True are capital

In [12]:
a = True                          #a is a boolean type
print(a,type(a))

True <class 'bool'>

# Python Strings

String is a sequence of Unicode characters (letters, numbers, and special characters).  

Use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [21]:
s = "This is an Online Platform for Python"
print(s)

This is an Online Platform for Python

In [14]:
print(s[0])
#last char s[len(s)-1] or s[-1]

T

In [25]:
print(s[-1]) #In Python, we can use negative indexing, -1 Last character

n

In [53]:
s = "This is an Online Platform for Python"
print(s[len(s)-1]) #to get the last character, without [-1] index, using len() which will return no.of characters

n

**Slicing**

[start:end:step]

In [22]:
#slicing
s[5:] #From 5th chracter to last character

'is an Online Platform for Python'

In [20]:
s[0:2] #characters at 0th and 1st index positions, 2 not inclusive

'Th'

In [24]:
s[0:4] #characters at 0 to 3 index positions, 4 not inclusive

'This'

In [26]:
s[:] #Prints all characters of the string

'This is an Online Platform for Python'

In [27]:
s[4:-1] #From 4th character till last butone character, last character not included

' is an Online Platform for Pytho'

In [36]:
s[:]

'This is an Online Platform for Python'

In [38]:
s[::2] #Start, stop is not mentioned, only step Display the 0, 2, 4, 6 at even index positions

'Ti sa niePafr o yhn'

In [39]:
s[::-1] #Display the string in reverse order

'nohtyP rof mroftalP enilnO na si sihT'

In [40]:
s[2::4] # starting from charcter at position 2, till the end, step is 4

'is iPf  h'

**# Python List**

List is an **ordered** sequence of items. 
It is one of the most used datatype in Python and is very flexible. 
All the items in a list do not need to be of the same type.
[] -- used

Declaring a list is, Items separated by commas are enclosed within brackets [ ].

In [ ]:
a = [10, 20.5, "Hello"]
print(a[1])               #print 1st index element

20.5

Lists are **mutable**, meaning, value of elements of a list can be altered.

In [ ]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

**# Python Tuple**

**Tuple** is an **ordered** sequence of items same as list.

() -- used

The only difference is that tuples are immutable. 

Tuples once created cannot be modified.

In [ ]:
t = (1, 1.5, "ML")

In [ ]:
print(t[1]) #extract particular element

1.5

In [ ]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

**# Python Set**

**Set** is an **unordered** collection of **unique** items. 

{ } -- used
Duplicates are not allowed

Set is defined by values separated by comma inside braces { }. 

Items in a set are not ordered.

In [43]:
a = {10, 30, 20, 40, 10, 20, 5}
print(a)

{5, 40, 10, 20, 30}

In [44]:
print(type(a))             #print type of a

<class 'set'>

We can perform set operations like union, intersection on two sets. 

Set have unique values.

In [47]:
s = {10, 20, 20, 30, 30, 30}
print(s)                    #automatically set won't consider duplicate elements

{10, 20, 30}

In [48]:
print(s[1]) #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: ignored

**# Python Dictionary**

Dictionary is an **unordered** collection of **key-value pairs**.


Hash table : 
 | key | Value |
 ---------------
 | a   | apple |

 | b   | ball|

 | c   | cat |

 | d    | dog |

In Python, dictionaries are defined within **braces {}** with each item being a pair in the form **key:value** 

Key and value can be of any type.

In [54]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

In [55]:
print(d['c']) # no c error

KeyError: ignored

**# Conversion between Datatypes**

can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [ ]:
float(5)     #convert interger to float using float() method

5.0

In [ ]:
int(100.5)   #convert float to integer using int() method

100

In [ ]:
str(20)      #convert integer to string

'20'

Conversion to and from string must contain compatible values.

In [ ]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [49]:
user = "saturday"
lines = 100

print("Congratulations, on " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, on saturday! You just wrote 100 lines of code

We can convert one sequence to other

In [50]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [51]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']